

.carousel-item {
    height: 60vh;
}
.carousel-inner img, .card img {
     
    object-fit: contain !important;
}

.card-img-top {
    height: 200px;
}

.carousel-caption {

    opacity: .75;
}

@media (max-width: 765px) {

    .display-4 {

        font-size: 3rem;

    }
}

@media (max-width: 550px) {
    .display-4 {
        font-size: 2.3rem
    }
}

